
.cabecalho {
  background-color: rgb(46, 192, 124);
}
.redes {
  padding: 0.5rem;
}
.logo {
  margin: 0.5rem 0.5rem 0.5rem 2rem;
  width: 10rem;
}
.linha-pesquisa {
  padding: 0.5rem;
}

.pesquisa {
  background: #fff;
  height: 2rem;
  border-radius: 2rem;
  padding: 0.6rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.pesquisa:hover {
  animation: hoverShake 0.15s linear 3;
}
.pesquisa:hover > input {
  width: 12rem;
}

.pesquisa input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.8s;
}
@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(5deg, 5deg);
  }
  75% {
    transform: skew(-5deg, -5deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

.fixed {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  }
  .navegacao{
    width: 100%;
    

  }

  .navbar {
    margin: 0;
    width: 100%;
  }
.navbar {
  background-color: white;

}

.navegacao li a{
  color: #000000b4;
  
}
.links-navegacao {
  padding: 0.25rem;
  font-family: "Open Sans", sans-serif;
  transition: 0.8s;
  margin: 0;
  color:#000000b4 ;

}
.links-navegacao:hover {
  transition: 0.7s;
  font-size: 1.21rem;
  color: #96ca07;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#navDropdown {
  
  color:#000000b4;
  cursor: pointer;
  
  
}
#navDropdown:hover {
  
  color: #96ca07;
  
  
}



.navbar span {
  text-align: end;
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
.fixed {
    display: block;
    position: fixed;
    top: 0;
    height: 64px;
    width: 100%;
    z-index: 1000;
    }
    .cabecalho {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  
  .navbar {
    padding: 1rem 5.1rem 1rem 5.1rem;
    margin-bottom: 0.1rem;
  }
  .redes {
    flex-basis: auto;
    flex-grow: 0.1;
  }
  .cabecalho .redes ul {
    margin: 0;
  }
  .linha-logo {
    flex-grow: 22;
  }
  .linha-logo img {
    margin: 0;
  }

  .navegacao .navbar {
    display: relative;
    
  }

  .links-navegacao {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 1rem 1rem 1rem 5rem;
  }
 
  .links-navegacao {
    font-size: 1.1rem;
    font-weight: 800;
    margin: 0 0.9rem;
    
  }
  

  
}



