.carrosel-noticias {
    padding: 2rem 1rem;
    background-color: white;
    margin: 0;
    width: 100%;
    
}
.carrosel-noticias img{
    width: 100%;
}
.carrosel-noticias h1{
    
    text-align: center;
    font-size: 1.75rem;
    margin: 2rem 0 3rem 0 ;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Defina a largura dos controles para 5% */
  top: 50%; /* Ajuste a posição vertical dos controles */
}
.ultimas-noticias{
    padding:1rem 0 ;
    background-color: white;
    margin-top: 0.1rem;
    
    width: 100vw;

}
.titulo-cards{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem 0;
}
.noticia {  
    display: flex;
    
    align-items: center;
    margin-bottom: 1rem;
    
}
.cards {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid black;
    
}
.card {
    background-color: rgb(46, 192, 124);
}
@media screen and (min-width:1024px) {
 
    .ultimas-noticias {
        margin: 0.1rem 0;
        border-radius: 0;
        padding: 1rem 1rem ;
    }
    .cards-noticias {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        align-items: flex-start;
        
        
    }
    .noticia {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem 1.5rem;
    }
    .titulo-cards {
       padding: 0.5rem;
    }
    .titulo-cards {
        text-align: start;
        padding-bottom: 0.3rem;
        border-bottom: 2px solid green; 
        width: 14rem;
    }
}

@media screen and (min-width:1200px){
    
    .carrosel-noticias .slide img{
        
        width: 100%;
        height: 700px;
    }
    .carousel-control-prev{
        
        top:420px;
        
    }
    
    .carousel-control-next{
        top: 420px;

    }
    
    
}