.pesquisa{
    margin: 1rem;
    
}
.pesquisa .col {
    margin: 0;
    
}
.pesquisa input {
   
    border-radius: 2rem;
    border:0.1rem solid;
    padding: 0.3rem 1rem;
}
.pesquisa button{
    width: 2.3rem;
    border: 0.1rem solid #212559;
    align-self:flex-end;
    border-radius: 2.5rem;
    background-color: white;
}
.pesquisa span{
    font-size: 1.5rem;
    color: #212559;
}
