.rodape {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color:rgb(46, 192, 124);
    padding-bottom: 3,1875rem;
}
.rodape a{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;

}
@media screen and (min-width:1024px) {
    .rodape{
        padding: 1rem;
    }
}