*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body, html{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.cabecalho nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.logo img{
  margin:  0.4rem 0;
  width: 25%;}
.redes{
  display: flex;
}
.redes a{
  margin: 0.2rem;
}
.redes img{
  width: 2rem;
}
.pesquisa{
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 0;
}
.pesquisa input{
    width:70%;
}
.noticias {
  flex: 1;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
}
